@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Merriweather+Sans:wght@400;700&family=Pathway+Extreme:wght@400;700&family=Roboto+Condensed:wght@300&display=swap');


body{
    font-family:  'Roboto Condensed', sans-serif;
}

.fondoGris{
    background-color: rgb(196, 190, 190);
}

.textG{
    color: gray !important
}

.altura{
    height: 100vh;
}

.styled-paragraph {
    position: relative;
    text-align: center;
    font-size: 12px;
    color: gray;
}

.styled-paragraph::before,
.styled-paragraph::after {
    content: "";
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    height: 0.3px;
    background-color: gray;
}

.styled-paragraph::before {
    margin-right: 1em;
}

.styled-paragraph::after {
    margin-left: 1em;
}

.width{
    width: 20rem;
}

.texto{
    color: gray;
    font-size: small;
}

.bold{
    font-weight: bold;
    color: black;
    font-size: small;
}

.black{
    color:black;
}